:root {
    --primary-color: #0054A3;
    --secondary-color: white;
    --accent-color: #FF6F61;
    --text-color: #333333;
    --second-text-color: #002649;
    --third-color: #BCD4EA;
    --background-color: #E8F3FC;
    --column-gap: 40px;
    --hover-color: #0665bd;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto", Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    background-color: var(--primary-color);
    max-height: 200px
}

header div.logo h1 {
    background-image: url("images/eecu-logo.png");
    width: 178px;
    height: 71px;
    background-size: contain;
    text-indent: -9999em;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--column-gap);
    max-width: 1440px;
    margin: 0 auto;
    padding: 1.25rem 3.5rem;
    grid-template-rows: minmax(0, auto);
}

main>section:first-child {
    border-right: solid 3px var(--primary-color);
    width: 60%;
    margin-left: 0px;
}

main>section {
    width: 40%;
}

#income {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#expenses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-right: 50px;
    margin-left:0px;
    padding: 0px;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    margin: 10px;
    margin-right: 0px;
    justify-content: center;
}

.flex.career {
    flex-direction: row;
}

select,
option,
input,
.monthlyStats section span {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    /* border-radius: 0.25rem; */
    width: 260px;
    height: 40px;
}

.monthlyStats section span {
    background-color: white;
    color: var(--second-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#expenses>section {
    background-color: var(--secondary-color);
}

.section-header {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: var(--primary-color);
    color: white;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    display: inline-flex;
    width: 375px;
    justify-content: space-between;
    cursor: pointer;

}


.section-header h3 {
    margin: 0;
}

.section-header:hover {
    background-color: var(--hover-color);
    transition: 0.2s ease;
}


#monthlyLiabilities {
    grid-area: 'ml';
}

#foodEssentials {
    grid-area: 'fe';
}

#insurance {
    grid-area: 'ins';
}

#otherExpenses {
    grid-area: 'other';
}

/*Formats the panels into row (cost inputs)*/
.panel {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    padding: 1rem;
    /* display: none; */
}

.panel input {
    width: 100%;
    /* margin-bottom: 0.5rem; */
}

/*For monthly*/


label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~div.monthly-liabilities {
    display: block;
}


/*For food*/


label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~div.food-essentials {
    display: block;
}


/*For insurance*/


label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~div.insurance {
    display: block;
}

/*For other*/


label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~div.other-expenses {
    display: block;
}

.dropCheck {
    margin-right: 10px;
    max-width: 20px;
    max-height: 20px;
    background-image: url(images/dropdown.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

/* does not work at the momment*/
.dropCheck-90 {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

.monthlyStats {
    display: grid;
    grid-area: 1fr 1fr / 1fr 1fr;
    grid-template-areas: 'mi me'
        'ms ys';
    gap: 10px;
    margin: 0px;
}

#expenses input {
    max-width: 100px;
}

.inputSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin: 0.5rem;

    & span:first-of-type {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        background-color: var(--third-color);
        color: var(--second-text-color);
        padding: 5px;

        &::after {
            content: "$";
        }

    }

    & [id^="total"] {
        width: 100px;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid var(--primary-color);
        /* border-radius: 0.25rem; */
    }

    & input {
        width: 100px;
    }
}

/* hides number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}