:root {
    --primary-color: #0054A3;
    --secondary-color: white;
    --accent-color: #FF6F61;
    --text-color: #333333;
    --background-color: #E8F3FC;
    --column-gap: 40px;
}

* {  
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto", Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    background-color: var(--primary-color);
}

header div.logo h1 {
    background-image: url("images/eecu-logo.png");
    width: 178px;
    height: 71px;
    background-size: contain;
    text-indent: -9999em;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

main {
   display: flex;
   flex-direction: column no-wrap;
   gap: var(--column-gap);
   max-width: 1440px;
   margin: 0 auto;
   padding: 1.25rem 3.5rem;
}

main > section:first-child {
    border-right: solid 3px var(--primary-color);
    width: 60%;
}

main > section {
    width: 40%;
}

#income {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#expenses {
    display:  grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.flex.career {
    flex-direction: row;
}

select, option, input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.25rem;
    width: 100%;
}

#expenses > section {
    background-color: var(--secondary-color);
    /* padding: 1rem; */
    border-radius: 0.5rem;
}

.section-header {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
}

.section-header h3 {
    margin: 0;
}




#monthlyLiabilities {
    grid-area: 'ml';
}

#foodEssentials {
    grid-area: 'fe';
}

#insurance {
    grid-area: 'ins';
}

#otherExpenses {
    grid-area: 'other';
}

/*Formats the panels into row (cost inputs)*/
.panel{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto(4, 1fr);
    padding: 1rem;
}

.panel input {
    width: 100%;
    margin-bottom: 0.5rem;
}

/*Change theses values to be unique for each div. You need to give each input element from the HTML file a unique class, then link each input to their respecive CSS files*/
/*For monthly*/
input, div.monthly-liabilities {
    display: none;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~div.monthly-liabilities {
    display: block;
}


/*For food*/
input, div.food-essentials {
    display: none;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~div.food-essentials {
    display: block;
}


/*For insurance*/
input, div.insurance {
    display: none;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~div.insurance {
    display: block;
}

/*For other*/
input, div.other-expenses {
    display: none;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~div.other-expenses {
    display: block;
}