* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
}

body {
    background-color: #E8F3FC;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #0054A3;
    padding: 10px;
}

main {
    margin: 50px;
}

#income {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#expenses {
    display: grid;
    grid-template-areas: "ml fe" 
                         "ins other";
    gap: 10px;
    padding: 10px;
}

#monthlyLiabilities {
    grid-area: 'ml';
}

#foodEssentials {
    grid-area: 'fe';
}

#insurance {
    grid-area: 'ins';
}

#otherExpenses {
    grid-area: 'other';
}

/*Formats the panels into row (cost inputs)*/
.panel{
    width: 50%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto(4, 1fr);
}

/*Change theses values to be unique for each div. You need to give each input element from the HTML file a unique class, then link each input to their respecive CSS files*/
/*For monthly*/
input, div.monthly-liabilities {
    display: none;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~div.monthly-liabilities {
    display: block;
}


/*For food*/
input, div.food-essentials {
    display: none;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~div.food-essentials {
    display: block;
}


/*For insurance*/
input, div.insurance {
    display: none;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~div.insurance {
    display: block;
}

/*For other*/
input, div.other-expenses {
    display: none;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
}

input:checked~div.other-expenses {
    display: block;
}